<section class="vh-100 text-center" style="background-color: #c1deec;">
    <div class="container py-5 h-100 d-flex align-items-center justify-content-center">
        <div class="row d-flex justify-content-center align-items-center">
            <div class=" col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="d-block d-md-none">
                            <img src="assets/img/ozora.png" alt="Tsubasa Project" class="img-fluid w-50"
                                style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="assets/img/login_001.jpg" alt="Tsubasa Project" class="img-fluid"
                                style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form>
                                    <div class="d-flex align-items-center justify-content-center mb-3 pb-1">
                                        <span class="h1 fw-bold mb-0">始めましょう</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">翼プロジェクト
                                    </h5>
                                    <h6 class="fw-normal mb-3 pb-3 small">Passwords are old,
                                        obsolete and insecure. Login using only your email address.
                                        I'll send you an email with a secure link.
                                    </h6>

                                    <div class="form-outline mb-4">
                                        <input type="email" class="form-control form-control-lg" [formControl]="email"
                                            placeholder="Your email" style="text-align: center;">
                                        <div class="error-container"
                                            *ngIf="email.errors && (email.dirty || email.touched)">
                                            <div class="text-danger small error-message">Please write a valid e-mail
                                            </div>
                                        </div>

                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="button"
                                            [disabled]="email.errors" (click)="onSubmit()">E-mail ログイン</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>