<section class="vh-100 text-center" style="background-color: #c1deec;">
    <div class="container py-5 h-100 d-flex align-items-center justify-content-center">
        <div class="row d-flex justify-content-center align-items-center" style="width: 80vw;">
            <div class=" col col-xl-12">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-sm-12 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form [formGroup]="signupForm">
                                    <div class="d-flex align-items-center justify-content-center mb-3 pb-1">
                                        <span class="h1 fw-bold mb-0">Create new account</span>
                                    </div>
                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">始めまして
                                    </h5>
                                    <div class="form-outline mb-4">
                                        <label class="form-label">Your name:</label>
                                        <input type="name" formControlName="name"
                                            class="form-control form-control-lg" />
                                        <div
                                            *ngIf="signupForm.controls.name.invalid && (signupForm.controls.name.dirty || signupForm.controls.name.touched)">
                                            <div *ngIf="signupForm.controls.name.errors'[minlength]'"
                                                class="text-danger">Name must be at
                                                least 5 characteres</div>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label">E-mail:</label>
                                        <input type="email" formControlName="email"
                                            class="form-control form-control-lg" />
                                        <div
                                            *ngIf="(signupForm.controls.email.dirty || signupForm.controls.email.touched)">
                                            <div *ngIf="signupForm.controls.email.errors'[email]'" class="text-danger">
                                                E-mail must be valid</div>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label">Password:</label>
                                        <input type="password" formControlName="password"
                                            class="form-control form-control-lg" />
                                        <div
                                            *ngIf="(signupForm.controls.password.dirty || signupForm.controls.password.touched)">
                                            <div *ngIf="signupForm.controls.password.errors'[password]'"
                                                class="text-danger">
                                                Password must be at least one uppercase, one lowercase, one digit and 8
                                                characteres long.</div>
                                        </div>
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-primary btn-lg btn-block" type="button"
                                            [disabled]="signupForm.invalid" (click)="onSubmit()">Create new
                                            account</button>
                                    </div>

                                    <P><a class="small text-muted" routerLink="/login">Go back to login</a></P>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>